
body {
    font-family: 'Reggae One', cursive;
    
}
.center{
    text-align: center;
    list-style-position: inside;
}

header {
    margin: 30px;
    padding: 0;    
    color: #36003B;
}
.palet2 {
    font-size: 2em;
}

a{
    list-style-type:none;
    text-decoration: none;
    
}

nav {
    margin: 15px;
}

.navbar ul li {
    text-decoration: none;  
    font-size: 20px;
    list-style: none;
    display: inline-block;
    padding: 15px 15px;
    background-color: black;
    
}
.navbar ul li a {
    color: yellow;
}


.palet1 {
     color: blue;
     font-size: 1.5em;
    
} 

article, ul {
    list-style-position: inside;
    
}

.list1 {
    list-style-position: inside;

}


